.pagination-button-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

  @media screen and (max-width: 670px) {
    margin-top: 20px;
  }
}

.react-paginate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0 5rem;
  gap: 10px;
  color: $darkGray;
  font: 1rem $Roboto;

  @media screen and (max-width: 670px) {
    font: 0.7rem $Roboto;
  }
}

.page-item {
  border-radius: 4px;
  cursor: pointer;
  border: 1.5px solid $oliva;

  a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 670px) {
      width: 25px;
      height: 25px;
    }
  }
}

.react-paginate li.active {
  color: white;
  background-color: $oliva;
}

.react-paginate li.disabled {
  color: grey;
  border: 1.5px solid $greyBorder;
  cursor: default;

  a {
    color: $greyBorder;
  }
}
