.name-skeleton {
  &__name {
    height: 30px;
    width: 100%;
    margin-bottom: 5px;

    @media screen and (max-width: 1170px) {
      width: 80%;
    }

    @media screen and (max-width: 768px) {
      height: 25px;
    }
  }

  &__name-row-two {
    height: 30px;
    width: 25%;

    @media screen and (max-width: 1070px) {
      display: none;
    }
  }
}
