.page404 {
  &__container {
    text-align: center;
    font-family: $Titillium;
    font-size: 1rem;
    min-height: calc(100vh - 150px);
  }

  &__link {
    color: $oliva;
    text-decoration: underline;
  }
}
