@import './fonts.scss';
@import './animation.scss';

$Ruluko: 'Ruluko', sans-serif;
$Titillium: 'Titillium Web', sans-serif;
$Ruge_Boogie: 'Ruge Boogie', sans-serif;
$Roboto: 'Roboto', sans-serif;
$winter: #9dc7b2;
$winterHover: #85c0cb;
$oliva: #95bea1;
$olivaBlack: #8b9d94;
$olivaHover: #9bc6a9;
$greyBorder: #c0c0c0;
$darkGray: #747474;
$lightGray: #d7d7d7;
$mainBlack: #303c42;
