.header {
  background-color: #fff;
  max-width: 1440px;
  margin: 0 auto;
}

.header__container {
  padding: 5px 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav,
.header-nav-contents {
  display: flex;
  align-items: center;
  gap: 20px;

  .user-icon {
    transition:
      0.3s background,
      0.3s box-shadow;

    &:hover {
      background: rgba($oliva, 0.7);
      cursor: pointer;
      box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.15);
      transition:
        0.3s background,
        0.3s box-shadow;
    }

    &:active {
      transform: scale(0.95);
      transition: 0.2s transform;
    }
  }
}

.header-nav > .header-link {
  display: none;

  @media screen and (max-width: 600px) {
    display: flex;
  }
}

.header-nav {
  @media screen and (max-width: 600px) {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255);
    margin-right: 0;
  }

  &[data-show='true'] {
    display: flex;
  }

  &__icon {
    display: none;
    background: url('/img/burgerMenu.svg');
    width: 45px;
    height: 45px;
    background-size: contain;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }

    @media screen and (max-width: 600px) {
      display: flex;
    }
  }

  .close-burger-cross {
    @media screen and (max-width: 600px) {
      display: block;
    }
  }
}

.header-nav-contents {
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.header-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &__img {
    background: url('/img/cart-header.svg') no-repeat center;
    width: 60px;
    height: 60px;
    background-size: contain;
  }

  &__amount-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: -8px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: $oliva;
  }

  &__num {
    font: 1rem $Roboto;
    color: #747474;

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 1rem;
    }
  }

  &__amount {
    font: 0.8rem $Roboto;
    color: #eee;
  }
}
