@keyframes shake-animation-cart {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-5deg);
  }
  20%,
  40% {
    transform: rotate(5deg);
  }
}

@keyframes snow1 {
  from {
    background-position: 0 -300px;
  }
  20% {
    background-position: 20% -100px;
  }
  40% {
    background-position: 30% 100px;
  }
  to {
    background-position: 20% 700px;
  }
}

@keyframes snow2 {
  0% {
    background-position:
      0 0,
      0 0;
  }
  100% {
    background-position:
      10% 600px,
      10% 600px;
  }
}

@keyframes arrow-animation {
  0%,
  50%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-7px);
  }
}

@keyframes shake-animation-product {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes background-gradient {
  100% {
    background-position: 1000px 0;
  }
}

@keyframes modal-view {
  0% {
    transform: translateY(-2500px);
  }
  80% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes modal-hide {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1000px);
  }
}

@keyframes appear-from-right {
  0% {
    transform: translateX(100%);
  }

  80% {
    transform: translateX(-8px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes appear-from-hide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

@keyframes show-name-input {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slider-img {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
