@import './normalize.scss';

body {
  // height: 100%;
  // overflow: auto;
  // height: auto;
}

.lock {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1440px;
}

.app {
  overflow: auto;
  // min-height: 100vh;
  // height: 100vh;
  // max-width: 1440px;
  // height: 100vh;
}
