.signIN-details {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
  width: 400px;
  padding: 25px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  font: 0.8rem $Roboto;

  @media screen and (max-width: 580px) {
    width: 400px;
    padding: 20px;
  }

  @media screen and (max-width: 460px) {
    width: 360px;
  }

  @media screen and (max-width: 410px) {
    width: 300px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 600;
    color: $oliva;
    letter-spacing: 0.1em;
    text-align: center;
  }

  &__logo {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.signIN-already {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  &__highlight {
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $winter;
      transition: color 0.3s;
    }
  }
}

.signIN {
  &__forgot {
    display: flex;
    justify-content: end;

    span {
      font-weight: 600;
      transition: color 0.3s;

      &:hover {
        cursor: pointer;
        color: $winter;
        transition: color 0.3s;
      }
    }
  }
}
