.header-navigation-wrapper {
  border-radius: 2px;
  // background: linear-gradient(90deg, #9dc7b2 10%, #85c0cb 50%, #9dc7b2 80%);
  // animation: background-gradient 3s infinite alternate;
}

.header-navigation {
  margin: 0 auto;
  max-width: 850px;
  margin-bottom: 10px;
}
