.find-input-wrapper {
  position: relative;
  width: 230px;
  padding-top: 10px;
}

.find-input {
  padding-left: 5px;
  width: 100%;
  height: 28px;
  border-radius: 3px;
  border: none;
  text-align: start;
  font: 1rem $Roboto;
  color: #888;

  &:focus {
    outline: none;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: url('https://api.iconify.design/typcn/delete-outline.svg?color=%238b9d93&width=18&height=18');
    right: 7px;
    top: 15px;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.15);
      transition: transform 0.2s;
    }

    &:active {
      transform: scale(1);
      transition: transform 0.1s;
    }
  }

  @media screen and (max-width: 600px) {
    font-size: 0.8em;
  }
}

.find-input-img_search {
  background-size: contain;
  position: absolute;
}

.find-input-img_search {
  background-image: url('/img/magnifying-glass.svg');
  width: 15px;
  height: 15px;
  top: 17px;
  right: 7px;
}

.find-input:not(:placeholder-shown) ~ .find-input-img_search {
  display: none;
}
.find-input:placeholder-shown ~ .find-input-img_search {
  display: block;
}
