.loading-spinner-container {
  margin: 30px;
}

.loading-spinner {
  margin: 0 auto;
  height: 25px;
  width: 25px;
  border: 6px solid $lightGray;
  border-top: 6px solid $oliva;
  border-radius: 50%;
  animation: spinner 0.7s linear infinite;
}
