.header-auth__btn-sign-in {
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, $oliva 50%, $olivaBlack 100%);
  padding: 5px 10px;
  font-size: 1.3rem;
  // font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-fill-color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: transform 0.3s;

  &:hover {
    transition: transform 0.3s;
    transform: scale(1.03);
  }

  &:active {
    transition: transform 0.3s;
    transform: scale(1);
  }

  &:visited {
    color: white;
  }
}

.header-auth__text {
  font-size: 1rem;
  color: $darkGray;
  letter-spacing: 0.05em;
}

.header-auth__btn-sign-up {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  // font-weight: 600;
  color: black;
  transition: color 0.3s;

  &:hover {
    color: $winter;
    transition: color 0.3s;
    cursor: pointer;
  }
}
