.signUP-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 25px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  font: 0.8rem $Roboto;

  @media screen and (max-width: 375px) {
    padding: 7px;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    color: $oliva;
    letter-spacing: 0.1em;
    text-align: center;

    @media screen and (max-width: 375px) {
      font-size: 1.5rem;
    }
  }

  &__logo {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 375px) {
      padding: 2px;
    }
  }
}

.signUP-already {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  &__highlight {
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $winter;
      transition: color 0.3s;
    }
  }
}
