.formInput {
  font-family: $Roboto;

  &__input {
    width: calc(100% - 20px);
    padding: 12px 10px;
    border: solid $oliva 1px;
    margin-top: 20px;
    outline: 0;
    border-radius: 5px;
    font-size: 0.9rem;
  }

  &__name {
    font-size: 0.9rem;
    margin-top: 11px;
    margin-left: 10px;
    padding: 0px 2px;
    text-align: center;
    color: $darkGray;
    position: absolute;
    background-color: #fff;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 35%);
    border-radius: 4px;
    // animation: show-name-input 0.1s ease-in;
  }

  &__error-message {
    margin-top: -6px;
    margin-left: 10px;
    padding: 1px;
    text-align: center;
    color: $darkGray;
    position: absolute;
    font-size: 0.55rem;
    background-color: #fff;
  }
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__cvv,
  &__date {
    width: 200px;
    text-align: center;

    @media screen and (max-width: 800px) {
      width: 160px;
    }

    @media screen and (max-width: 600px) {
      width: 120px;
    }

    @media screen and (max-width: 450px) {
      width: 90px;
    }

    @media screen and (max-width: 370px) {
      width: 70px;
    }
  }
}

.valid {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}
