.arrow-back {
  background: url('https://api.iconify.design/ic/outline-arrow-back.svg?color=%239aab9f&width=60&height=60') no-repeat center;
  width: 70px;
  height: 70px;
  transition: transform 0.1s;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  border: none;
  z-index: 1;

  &:hover {
    animation: 0.7s ease-in-out 0s normal none infinite running arrow-animation;
  }

  @media screen and (max-width: 767px) {
    background-size: contain;
    top: 19px;
    left: 10px;
    width: 35px;
    height: 35px;
  }
}
