.aboutPage {
  &__container {
    font: 1rem $Roboto;
    min-height: calc(100vh - 218px);
  }

  &__title {
    font: 1.5rem $Roboto;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
  }

  &__text {
    text-indent: 50px;
    max-width: 650px;
    margin: 0 auto;
    font: 1rem $Roboto;
    padding-top: 20px;
  }
}
