.aboutPage {
  &__container {
    font-size: 1rem;
    min-height: calc(100vh - 218px);
  }

  &__title {
    text-align: center;
    padding-bottom: 20px;
  }

  &__text {
    text-indent: 50px;
    max-width: 650px;
    margin: 0 auto;
    padding-top: 20px;

    a {
      color: $darkGray;
      text-decoration: underline;
    }
  }
}
